:root {
    /*--- setting color variables for easy color scheme changes in the future ---*/
    --lt1: #AB8569;
    --lt2: #6D4A2F;
    --md1: #304154;
    --dk1: #2A3C51;
    --dk2: #0D1218;
}

* {
    font-family: arial, sans-serif;
    margin: 0px;
    padding-top: 0px;
}

html,
body {
    /*--- making sure the height and width of the page takes up the whole window ---*/
    background-color: var(--dk1);
    height: 100%;
    width: 100%;
}


/*--- setting the font-size based on screen-width ---*/

@media screen and (max-width: 500px) {
    html,
    body {
        font-size: 1em;
    }
}

@media screen and (min-width: 501px) {
    html,
    body {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 800px) {
    html,
    body {
        font-size: 1.5em;
    }
}


/*--- creating quick to use color scheme classes ---*/

.bg-lt {
    background-color: var(--lt1);
    color: var(--dk1);
}

.bg-md {
    background-color: var(--md1);
    color: var(--lt1);
}

.bg-dk {
    background-color: var(--dk1);
    color: var(--lt1);
}

.bg-dk2 {
    background-color: var(--dk2);
    color: var(--lt1);
}


/*--- center all headings ---*/

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}


/*--- remove all bullets for lists ---*/

ul {
    list-style: none;
}


/*--- making sure that links aren't blue or underlined ---*/

a,
a:hover,
a:visited,
a:active {
    color: inherit;
    text-decoration: none;
}


/*--- Top of page header ---*/

header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
    padding: 1% 0 1% 0;
    align-items: center;
}


/*--- the open menu button ---*/

#menu-open-btn {
    margin-left: 2%;
    cursor: pointer;
    font-size: 1.5em;
}


/*--- Move heading closer to center of window without moving the nav button ---*/

#page-heading {
    padding-right: 35%;
    flex-wrap: wrap;
}


/*--- Side navigation ---*/

.side-nav {
    font-weight: bolder;
    flex-direction: column;
    height: 100%;
    padding-right: 5px;
    position: fixed;
    flex-wrap: wrap;
    z-index: 1;
    display: none;
}


/*--- adding vertical space between links ---*/

.side-nav li {
    height: 20px;
    margin-top: 10%;
}

.close-button {
    align-self: flex-end;
    cursor: pointer;
    font-size: 1.5em;
}


/*--- easy to use flex class ---*/

.flex-row-even {
    display: flex;
    justify-content: space-evenly;
    height: auto;
}

hr {
    color: var(--dk2);
    border-width: medium;
    border-style: solid;
}

#me-block {
    padding: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#selfie {
    border-radius: 50%;
    width: 20%;
}

#statement {
    text-align: justify;
    padding: 5%;
}

#about-me {
    width: 50%;
    padding: 2%;
}


/*--------  Skills Section  --------------*/

#skills {
    width: 50%;
    text-align: center;
    padding: 2%;
}

#skills p {
    line-height: 1.5em;
}

.shadow-text {
    color: var(--dk1);
    text-shadow: 0 0 4px var(--lt2), 0 0 8px var(--md1);
}


/*--------  Application Cards  --------------*/


/* set padding for div #projects */

#projects {
    padding: 2%;
}

#project-cards {
    flex-wrap: wrap;
}

.card {
    width: 25%;
    height: 100%;
    min-height: 150px;
    min-width: 150px;
    border-style: solid;
    border-width: medium;
    margin-bottom: 50px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--md1);
}

.card:hover {
    background-color: var(--lt1);
    border-color: var(--dk2);
}

.card-header {
    background-color: var(--lt1);
    color: var(--dk2);
    border-radius: 10px;
    line-height: 1.2em;
    width: 50%;
}

.project-description {
    width: 50%;
    justify-content: center;
    line-height: 1.2em;
    border-radius: 10px;
}


/* hide header on hover */

.card:hover .card-header {
    display: none;
}


/* Demo videos */

#demos {
    padding: 2%;
}

#demos tr,
#demos td {
    padding: 1%;
    text-align: center;
}

#demos td:hover {
    background-color: var(--dk1);
    color: var(--lt1);
}


/* set background images for projects */


/* #project1 {
    width: 100%;
    background-image: url(../images/horiseon.png);
} */


/* #project2 {
    /*---Image found during google image search using creative commons licenses filer---
    background-image: url(../images/gifterLogo.png);
} 

#project3 {
    /*---Image found during google image search using creative commons licenses filer---
    background-image: url(../images/weatherDashboard.png);
}

#project4 {
    /*---Image found during google image search using creative commons licenses filer---
    background-image: url(../images/noteTaker.png);
}

#project5 {
    /*---Image found during google image search using creative commons licenses filer---
    background-image: url(https://i.pcmag.com/imagery/roundups/02HDufdqeRUDu3tl0NnY2qZ-2.fit_lim.size_760x427.v1649351854.jpg);
}

#project6 {
    /*---Image found during google image search using creative commons licenses filer---
    background-image: url(https://i.pcmag.com/imagery/roundups/02HDufdqeRUDu3tl0NnY2qZ-2.fit_lim.size_760x427.v1649351854.jpg);
}*/


/* hide project description until hover */

.card .project-description {
    display: none;
}


/* display project description on hover*/

.card:hover .project-description {
    display: flex;
    background-color: var(--dk1);
}


/*  footer contact info */

footer {
    padding: 2%;
}

#contact-info {
    padding-top: 2%;
    text-align: center;
}


/*--------  Back To Top Button  --------------*/

#back-to-top {
    background-color: var(--lt2);
    border-color: var(--lt1);
    color: var(--dk2);
    border-style: solid;
    border-radius: 20px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 0;
    font-size: 1.5em;
}